

services:
  django:
    build:
      context: .
      dockerfile: docker/prod/Dockerfile
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DJANGO_DEBUG=False
      - CELERY_BROKER_URL=redis://:${REDIS_PASSWORD}@redis:6379/0
      - RUN_MIGRATIONS=true
    command: >
      sh -c "uv run python manage.py collectstatic --noinput &&
             uv run gunicorn PharmacyOnDuty.wsgi:application --bind 0.0.0.0:8000"

  db:
    build:
      context: .
      dockerfile: docker/postgis/Dockerfile
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: gis
    ports:
      - "5432:5432"
    volumes:
      - postgis-data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --requirepass ${REDIS_PASSWORD}

  beat:
    build:
      context: .
      dockerfile: docker/prod/Dockerfile
    restart: always
    command: uv run celery -A PharmacyOnDuty beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    environment:
      - DB_HOST=db
      - CELERY_BROKER_URL=redis://:${REDIS_PASSWORD}@redis:6379/0
    depends_on:
      - redis
      - db

volumes:
  postgis-data:
  redis_data:
